{% extends 'main/index.html' %} 
{% load static %} 
{% load crispy_forms_tags %}
{% block title %}SubTask{% endblock %} 
{% block main %}

{% if user.is_authenticated %}




<div class="all">

    <div class="ri">
        <div class="name">
            <h6 class='textf'>Имя таска: </h6>
            <h6 class='textf'>Статус: </h6>
            <h6 class='textf'>Участники:</h6>

            <h6 class='textf'>Дедлайн: </h6>
            <h6 class='textf'>Начало:</h6>
            <h6 class='textf'>Завершено: </h6>
            <h6 class='textf'>Создано: </h6>
            <h6 class='textf'>Документ:</h6>
        </div>
        <div class="borders">
            <div class="task">
                <h6>{{task_detail.task_name}}</h6>
            </div>
            <div class="status">
                <h6>{{task_detail.status}}</h6>
            </div>
            <div class="assign">
                {%for user in task_detail.assign.all%}
                <h6>{{user.username}}</h6>
                {%endfor%}</div>

            <div class="deadline">
                <h6>{{task_detail.dead_line}}</h6>
            </div>
            <div class="start">
                <h6>{{task_detail.start_date}}</h6>
            </div>
            <div class="end">
                <h6>{{task_detail.end_date}}</h6>
            </div>
            <div class="create">
                <h6>{{task_detail.created_by}}</h6>
            </div>
            <div class="file">
                <h6>{{task_detail.attachments}}</h6>
            </div>
        </div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#UpdateTaskModal">
 + Update Task
</button>

<!-- Modal -->
<div class="modal fade" id="UpdateTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalList" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalList">Update Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <form method="post" action="{% url 'task_detail_url' lists.id task_detail.id %}">
            {% csrf_token %}
            {{form_upd|crispy}}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Update Task</button>
        </form>
      </div>
    </div>
  </div>
</div>

	<form method="post" action="{% url 'task_detail_url' lists.id task_detail.id  %}">
		{% csrf_token %}
		<button class="btn btn-danger">Delete</button>
	</form>

{% else %}
    <a href="{% url 'accounts:login' %}" class="reg">Войти</a> 
{% endif %}

{%endblock%}